@import "tailwindcss";
@plugin "./hero.js";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    
    /* ---------- Brand / Primary ---------- */
  --color-primary: #F97316;
  --color-primary-hover: #EA580C;
  --color-primary-soft: #FFF7ED;
  --color-primary-light: #FDBA74;

  /* ---------- Backgrounds ---------- */
  --color-background: #FFFFFF;
  --color-surface: #F9FAFB;
  --color-surface-elevated: #FFFFFF;

  /* ---------- Borders ---------- */
  --color-border: #E5E7EB;

  /* ---------- Text ---------- */
  --color-text-primary: #111827;
  --color-text-secondary: #4B5563;
  --color-text-muted: #9CA3AF;

  /* ---------- States ---------- */
  --color-success: #16A34A;
  --color-warning: #F59E0B;
  --color-error: #DC2626;


  /*DARK*/
     /* ---------- Brand / Primary ---------- */
  --color-primary-dark: #FB923C;
  --color-primary-hover-dark: #F97316;
  --color-primary-soft-dark: rgba(251, 146, 60, 0.1);
  --color-primary-light-dark: #FDBA74;

  /* ---------- Backgrounds ---------- */
  --color-background-dark: #0F172A;
  --color-surface-dark: #1E293B;
  --color-surface-elevated-dark: #334155;

  /* ---------- Borders ---------- */
  --color-border-dark: #475569;

  /* ---------- Text ---------- */
  --color-text-primar-dark: #F8FAFC;
  --color-text-secondary-dark: #CBD5E1;
  --color-text-muted-dark: #94A3B8;

  /* ---------- States ---------- */
  --color-success-dark: #22C55E;
  --color-warning-dark: #FBBF24;
  --color-error-dark: #EF4444;
}