@import "tailwindcss";
@plugin "./hero.js";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-soft: var(--primary-soft);
  --color-primary-light: var(--primary-light);

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-elevated: var(--surface-elevated);

  --color-border: var(--border);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

/* 
   2) PRIMITIVE TOKENS light

*/
:root {
  --primary: #F97316;
  --primary-hover: #EA580C;
  --primary-soft: #FFF7ED;
  --primary-light: #FDBA74;

  --background: #FFFFFF;
  --surface: #F9FAFB;
  --surface-elevated: #FFFFFF;

  --border: #E5E7EB;

  --text-primary: #111827;
  --text-secondary: #4B5563;
  --text-muted: #9CA3AF;

  --success: #16A34A;
  --warning: #F59E0B;
  --error: #DC2626;
}

/* 
  PRIMITIVE TOKENS dark
 */
.dark {
  --primary: #FB923C;
  --primary-hover: #F97316;
  --primary-soft: rgba(251, 146, 60, 0.1);
  --primary-light: #FDBA74;

  --background: #0F172A;
  --surface: #1E293B;
  --surface-elevated: #334155;

  --border: #475569;

  --text-primary: #F8FAFC;
  --text-secondary: #CBD5E1;
  --text-muted: #94A3B8;

  --success: #22C55E;
  --warning: #FBBF24;
  --error: #EF4444;
}